SECRET_KEY=YOUR_SECRET_KEY
YOOKASSA_SHOP_ID=YOUR_SHOP_ID
YOOKASSA_API_KEY=YOUR_API_KEY
YOOKASSA_BACK_URL=YOUR_BACK_URL
POSTGRES_PORT=YOUR_POSTGRES_PORT
POSTGRES_DATABASE=YOUR_POSTGRES_DATABASE_NAME
POSTGRES_USERNAME=YOUR_POSTGRES_USERNAME
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
EXCHANGE_RATES_BASE_URL=PART_OF_URL_BEFORE_API_KEY
EXCHANGE_RATES_API_KEY=YOUR_EXCHANGE_API_KEY
EXCHANGE_RATES_ENDPOINT_SUFFIX=PART_OF_URL_AFTER_API_KEY
GARAGE_API_KEY=YOUR_GARAGE_API_KEY
GARAGE_SECRET_KEY=YOUR_GARAGE_SECRET_KEY
GARAGE_REGION=YOUR_GARAGE_REGION
GARAGE_SERVICE_URL=YOUR_GARAGE_SERVICE_URL
GARAGE_BUCKET_NAME=YOUR_GARAGE_BUCKET_NAME
GARAGE_BASE_URL=YOUR_GARAGE_BASE_URL